/* General Styling */

@import url(https://fonts.googleapis.com/css2?family=Questrial);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HankenGrotesk', sans-serif;
}

.hero-section {
  background-color: rgba(230, 245, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 0 200px 0;
}

.money-to-convert {
  overflow: hidden;
}

.get-div {
  position: relative;
  width: 100%;
  max-width: 1200px;
  /* justify-content: end; */
  /* align-items: flex-end; */
  background-color: rgba(230, 245, 255, 1);
}

.inner-hero-section {
  width: 100%;
  max-width: 2024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 0px; */
  z-index: 1000;
  gap: 130px;
}

@media screen and (max-width: 1100px) {
  .inner-hero-section {
    gap: 30px;
  }
}

@media screen and (max-width: 800px) {
  .inner-hero-section {
    flex-direction: column;
    gap: 80px;
  }
}

.contain-the-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-down-image {
  position: absolute;
  width: 100%;
  max-width: 850px;
  /* height: 682px; */
  /* bottom: 0; */
  top: 240px;
  left: 276px;
  right: 76px;

  object-fit: cover;
  z-index: 0;
}

@media screen and (max-width: 1100px) {
  .float-down-image {
    display: none;
  }
}

.info-section-hero {
  width: 100%;
  max-width: 541px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.hero-top-info {
  font-size: 17.86px;
  font-weight: 600;
  line-height: 21.43px;
  letter-spacing: -0.02em;
  color: rgba(0, 45, 74, 1);
  text-align: left;
}

.hero-title {
  font-size: 98px;
  font-weight: 600;
  line-height: 117.6px;
  letter-spacing: -0.02em;
  color: rgba(0, 40, 67, 1);
  text-align: left;
}

@media screen and (max-width: 900px) {
  .hero-title {
    font-size: 72px;
    font-weight: 600;
    line-height: 82.6px;
    letter-spacing: -0.02em;
    color: rgba(0, 40, 67, 1);
    text-align: left;
  }
}

.download-app {
  width: 100%;
  max-width: 252px;
  /* height: 70px;
  top: 775px;
  left: 406px;
  gap: 0px; */
  background-color: rgba(1, 113, 188, 1);
  border-radius: 8px;
  font-size: 16.7px;
  font-weight: 600;
  line-height: 20.04px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding: 20px;
  text-decoration: none;
}

.our-currency-converter {
  /* width: 100%; */
  /* gap: 100px; */
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .info-section-hero {
    max-width: 100%;
  }

  .hero-title {
    font-size: 80px;
  }
}

.our-currency-container {
  max-width: 360px;
  min-width: 360px;
  /* margin-right: 15px; */
}

.two {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
}

.div-title {
  font-size: 17.86px;
  font-weight: 600;
  line-height: 21.43px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(0, 45, 74, 1);
}

.title {
  font-size: 17.7px;
  font-weight: 500;
  line-height: 21.24px;
  text-align: left;
  color: rgba(0, 45, 74, 1);
}

.send-div,
.receive-div {
  max-width: 400px;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(149, 214, 254, 0.49);
  border: 0.93px solid rgba(149, 214, 254, 0.49);
  border-radius: 13.97px;
  /* margin-bottom: 10px; */
}

.currency-rate-div {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 8px;
  align-items: center;
}

.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown {
  position: relative;
  width: 100%;
}

.selected-country-display {
  max-width: 76.71px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  /* padding: 12px 16px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.option {
  display: flex;
  gap: 7px;
}

.selected-country-code {
  font-size: 14.9px;
  font-weight: 500;
  line-height: 17.88px;
  text-align: left;
  color: rgba(0, 45, 74, 1);
}

/* Add arrow icon */
.dropdown::after {
  content: url('../img/arrow-down.svg');
  position: absolute;
  right: 165px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #333;
  pointer-events: none;
  transition: transform 0.3s;
}

/* Rotate arrow when dropdown is active */
.dropdown.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.options {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: rgba(149, 214, 254, 0.39);
  border-radius: 8px;
  border: 1px solid rgba(149, 214, 254, 0.49);
  display: none;
  padding: 8px 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  /* max-height: 200px; */
  /* overflow-y: auto; */
}

.dropdown.active .options {
  display: block;
}

.options div {
  display: flex;
  align-items: center;
  background-color: rgba(244, 246, 250, 1);
  margin: 10px 8px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid rgba(244, 246, 250, 1);
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .options div:hover {
  background-color: #62baea;
  color: #fff;
} */

.readonly-input input,
.rate-input input {
  width: 80px;
  border: none;
  background: transparent;
  text-align: right;
}

/* Base styling for the input fields */
.readonly-input input,
.rate-input input {
  width: 80px;
  border: none;
  background: transparent;
  text-align: right;
  transition: width 0.3s ease, background-color 0.3s ease;
  outline: none;
  /* Remove the default outline */
}

/* On hover, expand width and optionally add a subtle background */
.readonly-input input:hover,
.rate-input input:hover,
.readonly-input input:focus,
.rate-input input:focus,
.rate-input input::-webkit-scrollbar {
  /* width: 100px; Expand width on hover or focus */
  border: none;
  outline: transparent;
  scrollbar-width: none;
}

.country-image {
  width: 100%;
  max-width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(244, 246, 250, 1);
}

.arrow-swap {
  position: absolute;
  background-color: rgba(0, 113, 190, 1);
  top: 40%;
  right: 160px;
  left: 160px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /* padding: 10px 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-swap img {
  max-width: 20px;
  width: 100%;
  height: 20px;
  object-fit: cover;
}

.transaction-fee-eta {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
}

.transaction-fee-div,
.eta-div {
  display: flex;
  gap: 20px;
}

.transaction-fee {
  font-size: 13px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(0, 45, 74, 1);
}

.amount {
  font-size: 13px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(117, 202, 56, 1);
}

.time {
  font-size: 13px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(0, 45, 74, 1);
}